---
import { getCollection } from "astro:content";
import Card from "../../components/article/Card.astro";
import SearchBar from "../../components/pagefind/SearchBar.astro";
import Page from "../../layouts/Page.astro";

function removeDoubleSlashes(link: string): string {
    return link.replace(/(^https?:\/\/)|(\/{2,})/g, (_, p1) => p1 || "/");
}

const posts = (await getCollection("articles")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Page>
    <main class="flex py-2 lg:py-8">
        <div class="mx-auto flex flex-col lg:flex-row">
            <div class="flex flex-col">
                <p class="mb-4 hidden rounded-md bg-red-100 p-4 text-center text-xl font-semibold" id="search-notfound">
                    Hasil tidak ditemukan
                </p>
                <div id="search-articles" class="grid grid-cols-1">
                    {
                        posts.map((post) => (
                            <Card
                                href={`${removeDoubleSlashes(`${Astro.url.origin}${import.meta.env.BASE_URL}/berita/${post.slug}`)}`}
                                title={post.data.title}
                                date={post.data.date}
                                cover_image={post.data.cover_image}
                                body={post.body}
                                data-pagefind-ignore
                            />
                        ))
                    }
                </div>
                <div id="search-results" class="grid grid-cols-1"></div>
            </div>
            <div class="flex min-w-max justify-center lg:mx-8 lg:border-l-2">
                <div class="flex w-full flex-col px-4 lg:ml-8 lg:w-auto lg:p-0">
                    <p class="text-xl font-semibold">Cari berita</p>
                    <hr class="my-4 min-w-full border-t-2 border-t-gray-700 opacity-20" />
                    <div class="flex w-full py-2 lg:m-0 lg:p-0">
                        <SearchBar />
                    </div>
                </div>
            </div>
        </div>
    </main>
</Page>
